root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{nix,sh,mjs,json,md,yml,yaml}]
indent_style = space
indent_size = 2

[Justfile]
indent_style = tab

[scripts/rebuild.sh]
indent_style = tab
